.git export-ignore
.gitignore export-ignore
.github export-ignore
.distignore export-ignore
.wordpress.org export-ignore
composer.json export-ignore
composer.lock export-ignore
grumphp.yml export-ignore
phpcs.xml export-ignore
psalm.xml export-ignore

composer.lock -diff